
<div class="center-content" fxLayoutAlign="center center">
  <mat-card>
    <form >
      <mat-card>
        <mat-card-header>
          <mat-card-title>Datos</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div class="row">
            <div class="col-xs">
              <mat-form-field>
                <input placeholder="Nombre"   matInput type="text"  name="Nombre" [(ngModel)]="nombre">
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col-xs">
              <mat-form-field>
                <input  matInput placeholder="Telefono" mask="(0000) 000 000"  type="text" name="Telefono" [(ngModel)]="telefono">
              </mat-form-field>          
            </div>
          </div>   
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button color="primary" (click)="openDialog()" >Enviar</button>
        </mat-card-actions>
      </mat-card>
      
    </form>
  </mat-card>
 
</div>